<!-- for grid view -->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->

                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <div routerLink="/products/{{ tempProduct.id }}" style="cursor: pointer;">
                            <img src="{{ tempProduct.imageUrl }}" class="img-responsive"
                                style="height: 100; width: 100;">
                            <h1>{{ tempProduct.name }}</h1>
                            <div class="price">{{ tempProduct.unitPrice | currency : 'USD' }}</div>
                        </div>
                        <button class="btn btn-primary btn-sm"
                                (click)="addToCart(tempProduct)">
                            Add to Cart
                        </button>
                    </div>

                    <!-- if no product found -->

                    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                        No Product Found!
                    </div>

                </div>

                <!-- begin footer pagination -->

                <div class="footer-pagination">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9" style="padding-left: 30%;">
                                    <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                                        [collectionSize]="theTotalElements" [maxSize]="5" [boundaryLinks]="true"
                                        (pageChange)="listProducts()">
                                    </ngb-pagination>
                                </div>

                                <div class="col-md-3 mt-2" style="text-align: right;">
                                    <span class="mr-2">Page Size : </span>
                                    <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                        <option>1</option>
                                        <option>5</option>
                                        <option>10</option>
                                        <option selected="true">12</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>30</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- end footer pagination -->
            </div>
        </div>
    </div>




    <!-- for list view -->
    <!-- <table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th class="align-middle">Name</th>
            <th class="align-middle">Price</th>
            <th class="align-middle">Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <img src="{{ tempProduct.imageUrl }}" style="width: 100px; height: 100px;">
            <td class="align-middle">{{ tempProduct.name }}</td>
            <td class="align-middle">{{ tempProduct.unitPrice | currency : 'USD' }}</td>
            <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table> -->