<!-- for grid view -->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!-- loop over the collection of products -->

                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl }}" class="img-responsive" style="height: 100; width: 100;">
                        <h1>{{ tempProduct.name }}</h1>
                        <div class="price">{{ tempProduct.unitPrice | currency : 'USD' }}</div>
                        <a href="#" class="primary-btn no-underline">Add to Cart</a>
                    </div>
                </div>

                <!-- if no product found -->

                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Product Found!
                </div>

            </div>
        </div>
    </div>
</div>




 <!-- for list view -->
<!-- <table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th class="align-middle">Name</th>
            <th class="align-middle">Price</th>
            <th class="align-middle">Units in Stock</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tempProduct of products">
            <img src="{{ tempProduct.imageUrl }}" style="width: 100px; height: 100px;">
            <td class="align-middle">{{ tempProduct.name }}</td>
            <td class="align-middle">{{ tempProduct.unitPrice | currency : 'USD' }}</td>
            <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table> -->